{% extends 'base.html' %}

{#{% block header %}#}
{#    <h2>{% block title %}Home{% endblock title %}</h2>#}
{#{% endblock header %}#}

{% block content %}
    <div>
        Location
        <select name="location" id="location" required="true">
            {%for location in locations%}
                {% if location == default_location: %}
                    <option selected value="{{default_location}}">{{default_location}}</option>
                {% else %}
                    <option value="{{location}}">{{location}}</option>
                {% endif %}
            {%endfor%}
        </select>
    </div>
    <div>
        <form>
            <label for="rgname">Resource Group Name</label>
            <input type="text" id="rgname" name="rgname" placeholder="test-rg">
        </form>
    </div>

    <hr>

    <br>
    <form action="/add_new_resource/{{resource_type}}" method="POST">
        <label for="resource_type">Resource</label>
        <select name="resource_type" id="resource_type">
            {%for resource_type in resource_types%}
                <option value="{{resource_type}}">{{resource_type}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Add" />
    </form>

    <hr>
    {#    Added Commands#}
    {% include 'pages/resources.html' %}

    <hr>
    <button hx-get="/randomword" hx-swap="innerHTML">Click Me</button>
    <span hx-get="/randomword" hx-trigger="mouseenter">Hover Me!</span>


{% endblock content %}
