{% extends 'base.html' %}

{#{% block header %}#}
{#    <h2>{% block title %}Home{% endblock title %}</h2>#}
{#{% endblock header %}#}

{% block content %}
    <div>
        Location
        <select name="location" id="location" required="true">
            {%for location in locations%}
                {% if location == default_location: %}
                    <option selected value="{{default_location}}">{{default_location}}</option>
                {% else %}
                    <option value="{{location}}">{{location}}</option>
                {% endif %}
            {%endfor%}
        </select>
    </div>
    <div>
        <form action="#">
            <label for="rgname">Resource Group Name</label>
            <input type="text" id="rgname" name="rgname" placeholder="test-rg">
        </form>
    </div>
    <hr>

    <br>
    <form action="#">
        <label for="lang">Resource</label>
        <select name="resource" id="lang">
            {%for resource in resources%}
                <option value="{{resource}}">{{resource}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Submit" />
    </form>

{#    <form hx-post="/submit" hx-swap="beforeend" hx-target="#new-rg" class="mb-3">#}
{#        <input type="tÏext" placeholder="Resource Group Name" name="rg-name" class="form-control mb-3" />#}
{#        <input type="text" placeholder="Resource Group Location" name="rg-location" class="form-control mb-3" />#}
{#        <button type="submit" class="btn btn-primary">Submit</button>#}
{#    </form>#}

    <hr>
    <button hx-get="/randomword" hx-swap="innerHTML">Click Me</button>
    <span hx-get="/randomword" hx-trigger="mouseenter">Hover Me!</span>

{% endblock content %}
