<!DOCTYPE html>
<html lang="en">
    <head>
        {#This is the part we need to load the HTMX library in the browser. We dont get for free from python (i'm a noob)#}
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>AZ Builder - {% block title %}{% endblock title %}</title>
    </head>
    <body>
        <br>
        <img src="static/logo.png" alt="AZ Builder">
        <hr>
        <section>
            <header>
                {% block header %}{% endblock header %}
            </header>
            <main>
                {% block content %}<p>No messages.</p>{% endblock content %}
            <main>
        </section>
    </body>
</html>